@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif !important;
}

a {
    text-decoration: none;
    color: #fff;
}

.faceit-elo {
    color: #fff; /* Texto en color blanco para mayor visibilidad */
    padding: 10px; /* Ajusta el espaciado según sea necesario */
    border-radius: 5px; /* Esquinas redondeadas para un aspecto más agradable */
    display: inline-block; /* Para que las clases no ocupen toda la línea */
  }
  
  /* Aplicar un fondo con degradado de colores basado en la puntuación */
  .faceit-elo[data-elo="0"] {
    background: linear-gradient(to right, #FF1493, #FFD700); /* Rosa a dorado */
  }
  
  .faceit-elo[data-elo="3600"] {
    background: linear-gradient(to right, #FF0000, #FF1493); /* Rojo a rosa */
  }

  .css-p51h6s-MuiInputBase-input-MuiOutlinedInput-input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 100px #2a1d15 inset !important;
  }